.container {
	height: 200vh;
	width: 800px;
	margin: 0 auto;
	text-align: center;
}

.iphone {
	display: inline-block;
	margin-top: 150px;
	position: relative;
	transition: .1s;
}
.shape {
	background-image: url(../images/shape.jpg);
	height: 128px;
	width: 128px;
	position: absolute;
	top: 75px;
    right: 161px;
	background-position: -54px ;
	-webkit-mask-image: url(../images/apple-mask.webp)
}

